@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #636363;
}
@tailwind components;
@tailwind utilities;
